#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* height: 100vh; */
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  padding: 10px 20px;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.button-box {
  width: 140px;
  margin: 5px auto;
  position: relative;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  /* border: 1px solid black; */
}

.toggle-btn {
  padding: 7px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 60px;
  height: 100%;
  background: #77d970;
  border-radius: 7px;
  transition: 0.3s;
}
