img {
  max-width: 60px;
  max-height: 40px;
}
.footer-nav,
.nav-link {
  display: flex;
  align-items: center;
}

.footer-nav {
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  bottom: 0;
}

.nav-link {
  flex-direction: column;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s;
}
